@import 'src/styling/scss/styling-mixins.scss';

.App__not-found-page .StaffPage__content {
  display: flex;
}

.App__not-found {
  display: flex;
  justify-content: center;
  align-items: center;
}

.NotFound {
  &__title {
    margin: 0 0 15px 0;

    @include max-width(768) {
      @include flex-prop('margin-bottom', 768, 15, 425, 10);
    }

    @include max-width(425) {
      margin: 0 0 15px 0;
    }
  }

  &__navbar {
    margin: 0 0 15px 0;

    @include max-width(768) {
      @include flex-prop('margin-bottom', 768, 15, 425, 10);
    }

    @include max-width(425) {
      margin: 0 0 15px 0;
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content-404 {
    font-size: 90px;
    transition: color 0.3s ease;
  }
}