@import 'src/styling/scss/mixins.scss';

.NotFound {
  &__title {
    margin: 0 0 15px 0;

    @include max-width(768) {
      @include flex-prop('margin-bottom', 768, 15, 425, 10);
    }

    @include max-width(425) {
      margin: 0 0 15px 0;
    }
  }

  &__navbar {
    margin: 0 0 15px 0;

    @include max-width(768) {
      @include flex-prop('margin-bottom', 768, 15, 425, 10);
    }

    @include max-width(425) {
      margin: 0 0 15px 0;
    }
  }

  &__content {
    padding: 15px 15px 15px 15px;
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    color: #e2e2e2;

    @include max-width(768) {
      @include flex-prop('padding', 768, 15, 425, 10);
    }

    @include max-width(425) {
      padding: 15px 0 0 0;
      border-right: none; 
      border-bottom: none; 
      border-left: none; 
    }
  }
}