@import 'src/styling/scss/styling-mixins.scss';

.Components {
  &__title {
    margin: 0 0 15px 0;

    @include max-width(768) {
      @include flex-prop('margin-bottom', 768, 15, 425, 10);
    }

    @include max-width(425) {
      margin: 0 0 15px 0;
    }
  }

  &__navbar {
    margin: 0 0 15px 0;

    @include max-width(768) {
      @include flex-prop('margin-bottom', 768, 15, 425, 10);
    }

    @include max-width(425) {
      margin: 0 0 15px 0;
    }
  }

  // &__content {}

  &__button-children,
  &__button-external-class {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 20px 0;

    span {
      font-size: 17px;
      font-weight: bold;
      text-decoration: underline;

      &:nth-of-type(1) {
        margin: 0 10px 0 0;
      }
    }

    input {
      outline: none;
      background: #ffffff;
      border: 1px solid #000000;
      padding: 3px 5px 3px 5px;
    }
  }

  &__button-size,
  &__button-theme,
  &__button-no-focus {
    margin: 0 0 20px 0;
  }

  &__item-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  &__button-code-props {
    margin: 0 0 20px 0;
  }

  // &__button {}

  &__button-code {
    display: flex;
    justify-content: center;
    margin: 20px 0 0 0;
  }

  &__button-code-pre {
    margin: 0 0 0 0;
    padding: 10px 10px 10px 10px;
    background: #eeeeee;
    border-radius: 3px;
    border: 1px solid #000000;
  }
}
