.Button {
  cursor: pointer;
  background: #ffffff;
  transition: border-color 0.3s ease;
  padding: 5px 12px 5px 12px;
  font-size: 14px;

  // &--theme-greenPurple {}
  // &--theme-orangeRed {}
  // &--theme-custom {}

  &--size-l {
    padding: 6px 16px 6px 16px;
    font-size: 17px;
  }

  &--size-m {
    padding: 5px 12px 5px 12px;
    font-size: 14px;
  }

  &--size-s {
    padding: 4px 8px 4px 8px;
    font-size: 12px;
  }
}
