@import 'src/styling/scss/styling-mixins.scss';

.Button {
  cursor: pointer;
  background: #ffffff;
  border-style: solid;
  transition: color 0.3s ease, border-color 0.3s ease;

  /* default size="m" */
  padding: 6px 16px 6px 16px;
  font-size: 15px;

  /* default type="normal" */
  border-width: 1px;
  font-weight: 400;

  &:hover {
    transition: none;
  }

  &--size-xl {
    padding: 7px 21px 7px 21px;
    font-size: 21px;
  }

  &--size-l {
    padding: 7px 18px 7px 18px;
    font-size: 17px;
  }

  &--size-m {
    padding: 6px 16px 6px 16px;
    font-size: 15px;
  }

  &--size-s {
    padding: 5px 12px 5px 12px;
    font-size: 13px;
  }

  &--size-xs {
    padding: 4px 10px 4px 10px;
    font-size: 11px;
  }

  &--type-light {
    font-weight: 300;
  }

  &--type-normal {
    font-weight: 400;
  }

  &--type-bold {
    border-width: 2px;
    font-weight: 400;
  }

  &--disabled {
    cursor: default;
  }
}
