@import 'src/styling/scss/styling-mixins.scss';

.Sandbox {
  &__title {
    margin: 0 0 15px 0;

    @include max-width(768) {
      @include flex-prop('margin-bottom', 768, 15, 425, 10);
    }

    @include max-width(425) {
      margin: 0 0 15px 0;
    }
  }

  &__navbar {
    margin: 0 0 15px 0;
    // color: #da9b48;

    @include max-width(768) {
      @include flex-prop('margin-bottom', 768, 15, 425, 10);
    }

    @include max-width(425) {
      margin: 0 0 15px 0;
    }
  }

  &__content {
    position: relative;
  }

  &__hooks-show-hide-button {
    position: absolute;
    right: 15px;
    top: 15px;
  }

  // &__hooks-show-hide-button {}
}
