@import 'src/styling/scss/styling-mixins.scss';

.StaffValuePropBlock {
  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-size: 17px;
    margin: 0 5px 0 0;

    span {
      font-weight: bold;
      text-decoration: underline;
    }
  }

  &__item {
    margin: 0 5px 0 5px;
  }
}
