@import 'src/styling/scss/styling-mixins.scss';

.StaffValuePropBlock {
  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 0 -10px 0;
  }

  &__title {
    font-size: 17px;
    margin: 0 5px 10px 0;

    span {
      font-weight: bold;
      text-decoration: underline;
    }
  }

  &__item {
    margin: 0 5px 10px 5px;
  }
}
