@import 'src/styling/scss/styling-mixins.scss';

.PaginationBlock {
  &__title {
    font-size: 22px;
    text-align: center;
    margin: 0 0 15px 0;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__left {
    margin: 0 0 20px 0;

    @include max-width(768) {
      width: 100%;
      margin: 10px 0 30px 0;
    }
  }

  &__right {
    width: 100%;
    display: flex;
    flex-direction: column;

    @include max-width(768) {
      width: 100%;
    }
  }

  &__right-prop-class-name,
  &__right-code-show-hide {
    margin: 0 0 20px 0;
  }

  &__right-code-show-hide {
    &--hide {
      margin: 0 0 0 0;
    }
  }
}