@import 'src/styling/scss/mixins.scss';

.Title {
  text-align: center;
  font-size: 25px;
  border: 4px solid #e2e2e2;
  padding: 3px 15px 5px 15px;

  


  @include max-width(1024) {
    @include flex-prop('font-size', 1024, 25, 768, 20);
  }

  @include max-width(768) {
    @include flex-prop('padding-right', 768, 15, 425, 10);
    @include flex-prop('padding-left', 768, 15, 425, 10);
  }

  @include max-width(425) {
    @include flex-prop('font-size', 425, 20, 320, 18);
    border-right: none;
    border-left: none;
    padding: 3px 0 5px 0;
  }
}
