@import 'src/styling/scss/styling-mixins.scss';

.App__home-page .StaffPage__content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Home {
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 120px;
    filter: grayscale(100%);
    opacity: 0.5;
    transition: filter 0.3s ease, opacity 0.3s ease;

    &--default {
      filter: none;
      opacity: 1;
    }
  }
}
