@import 'src/styling/scss/styling-mixins.scss';

.Home {
  &__title {
    margin: 0 0 15px 0;

    @include max-width(768) {
      @include flex-prop('margin-bottom', 768, 15, 425, 10);
    }

    @include max-width(425) {
      margin: 0 0 15px 0;
    }
  }

  &__navbar {
    margin: 0 0 15px 0;

    @include max-width(768) {
      @include flex-prop('margin-bottom', 768, 15, 425, 10);
    }

    @include max-width(425) {
      margin: 0 0 15px 0;
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__content-home {
    font-size: 120px;
    filter: grayscale(100%);
    opacity: 0.5;
    transition: filter 0.3s ease, opacity 0.3s ease;

    &--default {
      filter: none;
      opacity: 1;
    }
  }
}
