@import 'src/styling/scss/styling-mixins.scss';

.ChangeTheme {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0 0 3px 0;

  &__item {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin: 0 2px 0 0;
    cursor: pointer;
    border: 2px solid #ffffff;
    transition: border-color 0.3s ease;
  
    &:last-child {
      margin: 0 0 0 0;
    }

    &--active {
      border-color: #a1a1a1;
    }
  
    &--default {
      display: flex;
      flex-direction: column;
      overflow: hidden;
  
      & > * {
        width: 100%;
      }
    }
  }
}
