@import 'src/styling/scss/styling-mixins.scss';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', 'Arial', sans-serif;
  color: #000000;
  overflow-y: scroll;
}

.App {
  padding: 40px 40px 40px 40px;
  margin: 0 auto 0 auto;
  min-height: 100vh;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  background: #ffffff;

  & > * {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  @include max-width(1024) {
    @include flex-prop('padding', 1024, 40, 768, 15);
  }

  @include max-width(768) {
    @include flex-prop('padding', 768, 15, 425, 10);
  }

  @include max-width(425) {
    padding: 15px 10px 10px 10px;
  }

  // &__staff-change-theme {}

  &__home,
  &__components,
  &__sandbox,
  &__not-found {
    flex: 1 0 auto;
  }
}
