.StaffCodeWrap {
  position: relative;
  transition: background 0.3s ease;

  &__subwrap {
    font-size: 14px;
    padding: 16px 17px 15px 17px;
    border-radius: 3px;
    margin: 0 0 0 0;
    overflow: auto;
    transition: background 0.3s ease;
  }

  &__button-copy {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  &__change-theme-code {
    position: absolute;
    bottom: 5px;
    right: 5px;
  }
}
